<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd  
                        http://www.springframework.org/schema/context  
                        http://www.springframework.org/schema/context/spring-context-4.3.xsd
                        http://www.springframework.org/schema/aop 
                        http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
                        http://www.springframework.org/schema/security 
                        http://www.springframework.org/schema/security/spring-security-4.2.xsd ">

	<!-- 角色必须以ROLE_开头 -->
	<security:http>
		<!-- 首页放行 -->
		<security:intercept-url pattern="/" access="isFullyAuthenticated()" />
		<security:intercept-url pattern="/index" access="isFullyAuthenticated()" />

		<!-- 登录页面、登录功能验证放行 -->
		<security:intercept-url pattern="/loginPath" access="permitAll()" />
		<security:intercept-url pattern="/user/login" access="permitAll()" />
		<security:intercept-url pattern="/user/logout" access="permitAll()" />

		<security:intercept-url pattern="/product/add" access="hasRole('ROLE_ADD_PRODUCT')" />
		<security:intercept-url pattern="/product/delete" access="hasRole('ROLE_DELETE_PRODUCT')" />
		<security:intercept-url pattern="/product/list" access="hasRole('ROLE_LIST_PRODUCT')" />
		<security:intercept-url pattern="/product/update" access="hasRole('ROLE_UPDATE_PRODUCT')" />

		<!-- spring security 默认登录URL以及处理逻辑 -->
		<!-- <security:form-login /> -->
		<security:intercept-url pattern="/**" access="hasAnyRole('ROLE_A','ROLE_B')" />
		<!-- login-page：跳转到自定义登录页面 ，login-processing-url：覆盖spring security默认的登录URL -->
		<security:form-login login-page="/loginPath" login-processing-url="/user/login" />
		<!-- <security:logout logout-url="/user/logout" /> -->
		<security:csrf disabled="true" />
		<security:access-denied-handler error-page="/403" />
	</security:http>

	<!-- 使用xml配置 -->
	<!-- <security:authentication-manager> -->
	<!-- <security:authentication-provider> -->
	<!-- <security:user-service> -->
	<!-- <security:user name="a" password="a" authorities="ROLE_A" /> -->
	<!-- <security:user name="b" password="b" authorities="ROLE_B" /> -->
	<!-- <security:user name="c" password="c" authorities="ROLE_B" /> -->
	<!-- <security:user name="d" password="d" authorities="ROLE_B" /> -->
	<!-- </security:user-service> -->
	<!-- </security:authentication-provider> -->
	<!-- </security:authentication-manager> -->

	<!-- 使用数据库 -->
	<security:authentication-manager>
		<security:authentication-provider user-service-ref="customUserDetailService">
			<security:password-encoder hash="bcrypt"></security:password-encoder>
		</security:authentication-provider>

	</security:authentication-manager>

	<bean id="customUserDetailService" class="com.xywei.security.CustomUserDetailService"></bean>


</beans>